.header {}

.header .inner {
    width: 1920px;
    height: 80px;
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    background: #fff;
}

.header .inner .ns {
    width: 400px;
    height: 80px;
    background: #e70012;
}

.header .inner .ns img {}

.header .inner .gnb {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header .inner .gnb>ul {
    display: flex;
}

.header .inner .gnb>ul>li {
    border: 1px solid #ddd;
    background: #fff;

}

.header .inner .gnb>ul>li a {
    display: block;
    line-height: 80px;
}

.header .inner .gnb .utils {
    display: block;
    line-height: 80px;

}

.main .main_visual {
    position: relative;
}

.main .main_visual_slide {}


.main .main_visual_slide .itm {
    height: 640px;

}

.main .main_visual_slide .itm01 {
    background: url(../psd/main_visual_slide01.jpg) no-repeat;
}

.main .main_visual_slide .itm02 {
    background: url(../psd/main_visual_slide02.jpg) no-repeat;
}

.main .main_visual_slide .itm03 {
    background: url(../psd/main_visual_slide03.jpg) no-repeat;
}


.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-delay: 10ms;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
}

.main_visual .arrows button {
    position: absolute;
}

.main_visual .arrows .prev {
    left: 0;
}

.main_visual .arrows .next {
    right: 0;
}

.main_visual .arrows button i {
    background: #e70012;
    padding: 26px;
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 80px;
}

.main_update {
    position: relative;
    padding: 160px;
}

.main_update .tit {
    width: 1170px;
    margin: 0 auto 40px auto;
}

.main_update .tit h2 {
    text-align: center;
    margin: 0 0 16px 0;
    font-size: 32px;
    font-weight: 800;
}

.main_update .tit p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.main_update .utils {
    position: absolute;
    top: 168px;
    right: 0;
    font-size: 16px;
    font-weight: 400;
}

.main_item {}

.main_item .item_one {
    width: 1170px;
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.main_item .item_two {
    width: 1170px;
    display: flex;
    gap: 30px;
    margin: 30px auto 0 auto;
}