header {}

.inner {
    width: 1170px;
    height: 80px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    position: relative;
}

.inner h1 {}

.inner .gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner .gnb>ul {
    display: flex;
    gap: 40px;
}

.inner .gnb>ul>li a {
    display: block;
    line-height: 80px;
}

.inner .util {
    margin: 0 0 0 auto;
    display: flex;
    gap: 40px;
}

.main_visual {
    position: relative;
}

.main_visual .main_visual_slide {}

.main_visual .main_visual_slide .itm {
    width: 1920px;
    height: 640px;
}

.itm01 {
    background: url(../img/main_slide01.jpg);
}

.itm02 {
    background: url(../img/main_slide02.jpg);
}

.itm03 {
    background: url(../img/main_slide03.jpg);
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1410px;
    width: 100%;
}

.main_visual .arrows button {
    position: absolute;
}

.main_visual .arrows .prev {
    left: 0;
}

.main_visual .arrows .next {
    right: 0;
}

.main_visual .arrows button i {
    background: #666;
    padding: 16px;
    color: #fff;
}

.main_product {
    padding: 80px 0;
}


.main_product .main_product_slide {
    max-width: 1170px;
    margin: 0 auto;
}

.inner .main_product_slide>* {
    flex: 1;
}

.inner .main_product_slide {
    display: flex;
    gap: 30px;
}